
*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:Arial,sans-serif;
  background:#f1f5f9;
}

/* app */

.app-container{
  min-height:100vh;
  padding:25px;
}

/* title */

.title{
  text-align:center;
  font-size:2.5rem;
  color:#4c1d95;
  margin-bottom:30px;
}

/* search-box */

.search-box{

  width:100%;
  max-width:850px;

  margin:auto;

  background:white;

  padding:25px;

  border-radius:15px;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

  margin-bottom:35px;

}

.search-box h2{

  text-align:center;

  margin-bottom:18px;

}

/* inputs */

.inputs{

  display:flex;

  gap:15px;

  margin-bottom:20px;

}

.inputs input{

  flex:1;

  padding:12px;

  border:1px solid #ccc;

  border-radius:8px;

  outline:none;

  font-size:16px;

}

.inputs input:focus{

  border-color:green;

  box-shadow:0 0 5px rgba(0,128,0,.3);

}

/* price-buttons */

.price-buttons{

  display:flex;

  justify-content:center;

  gap:12px;

  flex-wrap:wrap;

}

.price-buttons button{

  padding:10px 18px;

  border:none;

  border-radius:8px;

  background:green;

  color:white;

  cursor:pointer;

  font-size:16px;

  transition:.3s;

}

.price-buttons button:hover{

  background:#81c081;

  color:#14532d;

  font-weight:600;
}

/* storage-buttons */

.storage-buttons{

  display:flex;

  justify-content:center;

  gap:15px;

  margin-top:20px;

  flex-wrap:wrap;

}

.storage-buttons button{

  padding:12px 20px;

  border:none;

  border-radius:8px;

  background:#4c1d95;

  color:white;

  cursor:pointer;

  font-size:16px;

  transition:.3s;

}

.storage-buttons button:hover{

  background:#a889da;
  
  color:#4c1d95;

  font-weight:400;

}

/* product-grid */

.product-grid{

  display:grid;

  grid-template-columns:repeat(4,1fr);

  gap:25px;

}

/* card */

.card{

  background:white;

  border-radius:16px;

  overflow:hidden;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

  transition:.3s;

}

.card:hover{

  transform:translateY(-6px);

}

.card img{

  width:100%;

  height:220px;

  object-fit:cover;

}

.card-body{

  padding:18px;

  text-align:center;

}

.card-body h2{

  font-size:28px;

  margin-bottom:10px;

}

.price{

  color:green;

  font-size:24px;

  margin-bottom:10px;

}

.card-body p{

  color:#555;

  margin-bottom:12px;

  min-height:40px;

}

.total{

  font-size:20px;

  font-weight:bold;

  margin-bottom:18px;

}

/* counter */

.counter{

  display:flex;

  justify-content:center;

  align-items:center;

  gap:18px;

}

.counter span{

  font-size:28px;

  font-weight:bold;

  width:40px;

  text-align:center;

}

.counter button{

  width:42px;

  height:42px;

  border:none;

  border-radius:50%;

  background:green;

  color:white;

  font-size:24px;

  cursor:pointer;

  transition:.3s;

}

.counter button:hover{

  background:#81c081;

}

/* posts-slider */


.post-slider{

  width:80%;

  margin:30px auto;

  display:flex;

  justify-content:center;

  align-items:center;

  gap:25px;

}



.post-card{

  width:500px;

  min-height:220px;

  background:white;

  padding:25px;

  border-radius:16px;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

  text-align:center;

}



.post-card h2{

  color:#4c1d95;

  margin-bottom:20px;

}



.post-card p{

  color:#555;

  line-height:1.6;

  margin-bottom:20px;

}



.post-card span{

  font-weight:bold;

}




.arrow-btn{

  width:45px;

  height:45px;

  border:none;

  border-radius:50%;

  background:green;

  color:white;

  font-size:25px;

  cursor:pointer;

}



.arrow-btn:hover{

  background:#14532d;

}

/* navbar */

.navbar{

  width:100%;

  display:flex;

  justify-content:center;

  align-items:center;

  gap:30px;

  padding:18px 20px;

  background:#4c1d95;

  margin-bottom:25px;

  box-shadow:0 4px 12px rgba(0,0,0,.15);

}



.navbar a{

  color:white;

  text-decoration:none;

  font-size:18px;

  font-weight:600;

  transition:.3s;

  margin: 0 30px 0 30px;

}



.navbar a:hover{

  color:#4c1d95;
  background: #fff;
  padding:10px;
  border-radius:2px;
  transform:translateY(-2px);

}

.navbar a:active{

  color:#fef08a;

}


/* ================= CART PAGE ================= */

.cart-container{

  width:90%;
  margin:30px auto;

}

.cart-card{

  display:flex;
  align-items:center;
  gap:25px;

  background:#fff;

  margin-bottom:20px;

  padding:20px;

  border-radius:15px;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

  transition:.3s;

}

.cart-card:hover{

  transform:translateY(-5px);

}

.cart-card img{

  width:170px;

  height:170px;

  object-fit:cover;

  border-radius:12px;

}

.cart-info{

  flex:1;

}

.cart-info h2{

  color:#4c1d95;

  margin-bottom:10px;

}

.cart-info p{

  color:#555;

  margin:10px 0;

}

.cart-info .price{

  color:green;

  margin-bottom:15px;

}

.remove-btn{

  margin-top:15px;

  padding:10px 18px;

  border:none;

  border-radius:8px;

  background:#dc2626;

  color:white;

  cursor:pointer;

  font-size:15px;

  transition:.3s;

}

.remove-btn:hover{

  background:#991b1b;

}

.cart-summary{

  width:350px;

  margin:30px auto;

  background:white;

  padding:25px;

  border-radius:15px;

  text-align:center;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.cart-summary h2{

  margin-bottom:15px;

}

.cart-summary h3{

  margin-bottom:15px;

  color:#555;

}

.checkout-btn{

  width:100%;

  padding:12px;

  border:none;

  border-radius:8px;

  background:#4c1d95;

  color:white;

  font-size:17px;

  cursor:pointer;

  transition:.3s;

}

.checkout-btn:hover{

  background:#6d28d9;

}

.empty-cart{

  text-align:center;

  margin-top:60px;

  color:#4c1d95;

}

@media(max-width:768px){

.cart-card{

  flex-direction:column;

  text-align:center;

}

.cart-card img{

  width:220px;

  height:220px;

}

.cart-summary{

  width:100%;

}

}

/* ----------------------------------------------------- */
/* RESPONSIVE - SIDES */

/* tablet */

@media(max-width:1024px){

.product-grid{

grid-template-columns:repeat(2,1fr);

}

.title{

font-size:2.2rem;

}

}

/* mobile */

@media(max-width:768px){

.inputs{

flex-direction:column;

}

.product-grid{

grid-template-columns:1fr;

}

.title{

font-size:2rem;

}

.search-box{

padding:18px;

}

.price-buttons{

flex-direction:column;

}

.storage-buttons{

flex-direction:column;

}

.price-buttons button,

.storage-buttons button{

width:100%;

}

}

/* mobile-navbar */

@media(max-width:768px){


.navbar{

  flex-direction:column;

  gap:15px;

}


.navbar a{

  font-size:16px;

}

}

/* users-table */

.table-container{

  width:90%;

  margin:30px auto;

  overflow-x:auto;

}


table{

  width:100%;

  border-collapse:collapse;

  background:white;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

}


th{

  background:#4c1d95;

  color:white;

  padding:12px;

  text-align:center;

}


td{

  padding:12px;

  text-align:center;

  border-bottom:1px solid #ddd;

}


tr:hover{

  background:#f1f5f9;

}

/* sign-up */

.signup-container{

  min-height:80vh;

  display:flex;

  justify-content:center;

  align-items:center;

}

.signup-form{

  width:100%;

  max-width:420px;

  background:white;

  padding:30px;

  border-radius:15px;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.signup-form h1{

  text-align:center;

  color:#4c1d95;

  margin-bottom:25px;

}

.signup-form input{

  width:100%;

  padding:12px;

  margin-bottom:18px;

  border:1px solid #ccc;

  border-radius:8px;

  font-size:16px;

  outline:none;

}

.signup-form input:focus{

  border-color:green;

  box-shadow:0 0 5px rgba(0,128,0,.3);

}

.signup-form button{

  width:100%;

  padding:12px;

  border:none;

  border-radius:8px;

  background:#4c1d95;

  color:white;

  font-size:18px;

  cursor:pointer;

  transition:.3s;

}

.signup-form button:hover{

  background:#6d28d9;

}

.discount{

  color:#16a34a;

  font-weight:bold;

}

.cart-summary 

hr{

  margin:15px 0;

  border:none;

  border-top:1px solid #ddd;

}

/* ================= PRODUCT DETAILS ================= */

.product-details{

  width:85%;

  margin:40px auto;

  background:#fff;

  border-radius:20px;

  padding:30px;

  display:flex;

  gap:40px;

  align-items:center;

  box-shadow:0 5px 15px rgba(0,0,0,.15);

}

.product-details img{

  width:350px;

  height:350px;

  object-fit:cover;

  border-radius:15px;

}

.details-content{

  flex:1;

}

.details-content h1{

  color:#4c1d95;

  font-size:40px;

  margin-bottom:20px;

}

.details-content h2{

  color:green;

  font-size:32px;

  margin-bottom:20px;

}

.details-content p{

  color:#555;

  font-size:18px;

  line-height:1.8;

  margin-bottom:20px;

}

.details-content h3{

  color:#4c1d95;

  margin-bottom:12px;

}

.details-content ul{

  margin-left:22px;

  margin-bottom:25px;

}

.details-content li{

  margin-bottom:10px;

  font-size:17px;

  color:#444;

}

.details-content button{

  padding:12px 28px;

  border:none;

  border-radius:8px;

  background:#4c1d95;

  color:white;

  font-size:17px;

  cursor:pointer;

  transition:.3s;

}

.details-content button:hover{

  background:#6d28d9;

}

@media(max-width:768px){

.product-details{

  flex-direction:column;

  text-align:center;

}

.product-details img{

  width:250px;

  height:250px;

}

.details-content ul{

  text-align:left;

}

}