/* GLOBAL */
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f1f5f9;
}

/* APP */
.app-container {
  min-height: 100vh;
  padding: 20px;
}

/* TITLE */
.title {
  text-align: center;
  font-size: 2.5rem;
  font-weight: bold;
  color: #4c1d95;
  margin-bottom: 30px;
}

/* SEARCH BOX */
.search-box {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  margin-bottom: 30px;
}

.search-box h2 {
  text-align: center;
  margin-bottom: 15px;
}

.inputs {
  display: flex;
  gap: 15px;
}

.inputs input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  outline: none;
}

.inputs input:focus {
  border-color: green;
}

/* GRID */
.product-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

/* CARD */
.card {
  background: white;
  border-radius: 16px;
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-5px);
}

.card img {
  width: 100%;
  height: 220px;
  object-fit: cover;
}

.card-body {
  padding: 15px;
  text-align: center;
}

.card-body h2 {
  font-size: 1.5rem;
}

.price {
  color: green;
}

.total {
  margin-top: 10px;
  font-weight: bold;
}

/* COUNTER */
.counter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  margin-top: 15px;
}

.counter button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: none;
  background: green;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.counter button:hover {
  background: darkgreen;
}

/* RESPONSIVE */

/* tablet */
@media (max-width: 1024px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* mobile */
@media (max-width: 600px) {
  .inputs {
    flex-direction: column;
  }

  .product-grid {
    grid-template-columns: 1fr;
  }

  .title {
    font-size: 1.8rem;
  }
}

.price-buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 15px;
  flex-wrap: wrap;
}

.price-buttons button {
  font-size:20px;
  padding: 15px 20px;
  border: none;
  border-radius: 8px;
  background: green;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

.price-buttons button:hover {
  background: rgb(139, 212, 139);
  color:rgb(32, 96, 32);
  font-weight:600px;
}